* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #555;
}

.app {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 650px;
    font-family: "Raleway", sans-serif;
}

.controls {
    border: 1px solid #555;
}

.app .controls {
    height: 50px;
    display: flex;
    align-items: center;
    background: #ddd;
    padding: 0px 10px;
}

.app .controls .title {
    font-weight: 600;
    color: #222;
    width: 80px;
}

.app .controls .type,
.app .controls .size {
    margin: 0px 10px;
}

.app .controls .type input {
    display: none;
}

.app .controls .type label {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0px 2px;
    cursor: pointer;
}

.app .controls .type input:checked + label {
    background: #111;
    color: #eee;
    border-radius: 50%;
}

.app .controls .size input {
    height: 10px;
}

.app .controls .actions {
    flex: 1;
    text-align: right;
}

.app .controls .actions button {
    padding: 5px 10px;
    cursor: pointer;
}

.btn-tf {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.btn-load-tf {
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    border: 1px solid #222;
    background-color: white;
}

.btn-tf:hover, .btn-load-tf:hover {
    color: #aaa;
    background: #111;
}

.input-tf {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.model-area {
    width: inherit;
    padding: 20px;
    box-sizing:border-box;
    display: flex;
    background-color: #eee;
    border: 1px solid #555;
    margin-bottom: -1px;
    text-align: center;
    justify-content: center;
}


.model-area h3 {
    margin-top: 5px;;
    font-weight: bold;
    color: #111;
}

.train-it-area {
    padding-bottom: 100px;
}
